/* Global */
body {
    background: white;
}

/* Section 1 */
.main {
  min-width: 1100px;
  min-height: 900px;
  padding: 0px;
  background-image: url('../img/money.jpg');
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-top: 0;
  margin-bottom: 0;
}

/*filter bar*/
#logo{
    width: 300px;
    padding: 0;
    margin: 0;
}

.navbar {
    min-height: 150px; 
    width: 100%;
    top: 0;
    padding-top: 20px;
    text-align: center;
}

#searchbar {
  padding: 0;
  margin:0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Section 2 */
.first-section {
  min-width: 1100px;
  min-height: 800px;
  padding: 0px;
  background-image: url('../img/floor 1.svg');
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin-top: 0;
  margin-bottom: 0;
}

/* The sidebar */
#side-bar {
  width: 160px;
  height: 100%;
  background-color: black;
  text-align: center;
}


/* The navigation menu links */
#side-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
#side-bar a:hover {
  color: #f1f1f1;
}






  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
