/* Global */
body {
    background: white;
}

/* Homepage */
#main {
  width: 100%;
  height: 100%;
  padding: 0;
  background-image: url('../img/money.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  margin: 0;
}

/*filter bars*/
img#logo {
    min-width: 300px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
}

.navbar { 
    width: 100%;
    top: 0;
    padding-top: 20px;
    text-align: center;
}

#searchbar {
  padding: 0;
  margin:0;
  border: black 1px solid;
  background: rgba(242, 244, 245, 0.911);
}

.flex-container {
  width: 100%;
  display: flex;
  float: left;
  flex-direction: row;
  align-items: center;
  position: sticky;
  padding: 14px;
}

.sticky-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 1px;
  width: inherit;
  z-index: 1;
}

/* Section 2 */
#first-floor {
  margin-top: 20px;
  margin: 0;
  padding: 0;
}

#first-section {
  min-width: 1100px;
  min-height: 500px;
  padding: 0px;
  background-image: url('../img/floor 1.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* The sidebar */
#side-bar {
  width: 200px;
  position: absolute;
  height: 100%;
  background-color: black;
  text-align: center;
}


/* The navigation menu links */
#side-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
}

/* When you mouse over the navigation links, change their color */
#side-bar a:hover {
  color: #f1f1f1;
}

/* Section 3 */
#second-floor {
  margin: 0;
  padding: 0;
}

#second-section {
  min-width: 1100px;
  min-height: 500px;
  padding: 0px;
  background-image: url('../img/floor 2.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* Section 4 */
#third-floor {
  margin: 0;
  padding: 0;
}

#third-section {
  min-width: 1100px;
  min-height: 500px;
  padding: 0px;
  background-image: url('../img/floor 3.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* Section 5 */
#fourth-floor {
  margin: 0;
  padding: 0;
}

#fourth-section {
  min-width: 1100px;
  min-height: 500px;
  padding: 0px;
  background-image: url('../img/floor 4.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* Section 6 */
#fifth-floor {
  margin: 0;
  padding: 0;
}

#fifth-section {
  min-width: 1100px;
  min-height: 500px;
  padding: 0px;
  background-image: url('../img/floor 5.svg'); /*file doesnt exist yet*/
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* Section 7 */
#sixth-floor {
  margin: 0;
  padding: 0;
}

#sixth-section {
  min-width: 1100px;
  min-height: 500px;
  padding: 0px;
  background-image: url('../img/floor 6.svg'); /*file doesnt exist yet*/
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
}
  
/*footer*/
footer.container-fluid {
  background-color: lightgrey;
  height: 100px;
  bottom: 0;
  padding: 0;
  margin: 0;
  border: black;
  position: relative;
}




  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
